.main {
    padding: 24px;
    display: grid;
    grid-template-columns: 1fr 260px;
    flex: 1;
    gap: 24px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .main {
        grid-template-columns: 1fr;
    }
}