/* --- FORMULAIRE D'INSERTION D'ARTICLE --- */
.form-container {
    background: var(--white);
    padding: 2rem;
    border: 1px solid var(--lm-border);
    border-radius: 12px;
    max-width: 900px; /* Plus large pour l'éditeur */
    margin: 0 auto;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.full-width {
    grid-column: span 2;
}

select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--lm-border);
    border-radius: 12px;
    background-color: var(--white);
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

select:focus {
    border-color: var(--lm-black);
}

/* Style spécifique pour TinyMCE pour garder les bords arrondis */
.tox-tinymce {
    border-radius: 12px !important;
    border: 1px solid var(--lm-border) !important;
}